@model IEnumerable<animal_hotel.Models.zwierzak>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_klienta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gatunek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wielkosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wiek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dodatkowe_informacje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_klienta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wielkosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wiek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dodatkowe_informacje)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_zwierz">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_zwierz">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_zwierz">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
