@model animal_hotel.Models.rezerwacje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>rezerwacje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id_zwierz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id_zwierz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_rezerwacji">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
